//菜单宽度
$navMenu: 250px;
//菜单缩小宽度
$navMenuMin: 64px;
$layoutHeader:75px;
$mainCcolor: #f56c6c;
//解决兼容性
@mixin webkit($type, $value) {
    -webkit-#{$type}: $value;
    -moz-#{$type}: $value;
    -o-#{$type}: $value;
    -ms-#{$type}: $value;
    #{$type}: $value;
}

@mixin labelDemo ($width, $align, $labelwidth){
    float: left;
    width: $width + px;
    label{
        float: left;
        text-align: $align;
        width: $labelwidth + px;
        line-height: 40px;
    }
    .content-wrap{
        margin-left: $labelwidth + px;
    }
}